.bag-button  {
   background-color: lightgreen;
   border: none;
   padding: 5px 15px;
   border-radius: 10px;
   
}
.wish-button{
    border: solid black;
    border-radius: 10px;
    padding: 5px 35px;
}